PORT=3000
NODE_ENV=development
JWT_SECRET=please-change-this
JWT_EXPIRES_IN=2h
CORS_ORIGIN=http://localhost:5173

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=lecc_portfolio
DB_USER=postgres
DB_PASSWORD=postgres
